﻿

#UserForm input{
    width: 80%;
    margin: 0 10% 15px 10%;
    display: block;
    max-width: 80%;
    min-width: 100px;
}

#UserForm label {
    margin-left: 10%;
    width: 30%;
}

#UserForm select {
    float: right;
    margin-right: 10%;
    width: 50%;
}

.control-label {
    width: 80% !important;
    margin: 10px 10%;
}


.modal-dialog {
    padding-top: 100px !important;
}

.modal-content {
    background: url(/Content/background-image/old-paper-stains-repeatable-min.jpg) repeat-y;
    background-size: 100%;
    overflow-x: hidden;
     border: 1px solid rgba(163, 72, 4, 0.7);
    display: block;
}

.modal-footer {
    border: none !important;
    margin-top: 10px;
    padding-top: 0;
}
    .modal-footer button {
        background: inherit;
        border-radius: 15px;
        border: 2px solid #a34804;
        opacity: 0.7;
        margin-top: 10px;
        font-size: 20px;
    }
    .modal-footer button:hover {
        opacity: 1;
        cursor: pointer;
    }

    .modal-body input,
    .modal-body select
     {
        background: inherit;
        border-radius: 7px;
        border: 2px solid #a34804;
        display: inline;
        float: left;
        width: 70%;
    }
    .modal-body option {
        background-color: blanchedalmond !important;
    }

.input-label {
    width: 15% !important;
    color: black;
    display: inline;
}

.btn-delete {
    float: left;
    margin-left: 8%;
}
.btn {
    margin-right: 8%;
}
.modal-header {
    border-bottom: 2px solid #a34804;
}