﻿<div id="myModal" class="modal fade show in danger" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeForm()">&times;</button>
                <h4 class="modal-title">{{_modalHeader}}</h4>
            </div>

            <div class="modal-body">
                <form id="UserForm" [ngFormModel]="_usersForm" >
                    <div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !FirstNameControl.valid, 'has-success': FirstNameControl.valid }">
                        <label class="control-label" for="FirstNameControl" *ngIf="!FirstNameControl.valid">Поле "Имя" должно иметь достаточную длину</label>
                        <label class="control-label input-label" for="FirstNameControl"> Имя: </label>
                        <input #FirstName type="text" ngControl="FirstName" placeholder="Имя пользователя" class="form-control" value={{User?.FirstName}}/>
                    </div>

                    <div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !LastNameControl.valid, 'has-success': LastNameControl.valid }">
                        <label class="control-label" for="LastNameControl" *ngIf="!LastNameControl.valid">Поле "Фамилия" должно иметь достаточную длину</label>
                        <label class="control-label input-label" for="LastNameControl"> Фамилия: </label>
                        <input #LastName type="text" ngControl="LastName" placeholder="Фамилия пользователя" class="form-control" value={{User?.LastName}} />
                    </div>

                    <div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !LoginControl.valid, 'has-success': LoginControl.valid }">
                        <label class="control-label" for="LoginControl" *ngIf="!LoginControl.valid">Поле "Логин" должно иметь достаточную длину</label>
                        <label class="control-label input-label" for="LoginControl"> Логин: </label>
                        <input #Login type="text" ngControl="Login" placeholder="Логин пользователя" class="form-control" value={{User?.Login}} />
                    </div>

                    <div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !EmailControl.valid, 'has-success': EmailControl.valid }">
                        <label class="control-label" for="EmailControl" *ngIf="!EmailControl.valid">Поле "Email" имеет неверный формат</label>
                        <label class="control-label input-label" for="EmailControl"> Email: </label>
                        <input #Email type="email" ngControl="Email" placeholder="Адрес электронной почты пользователя" class="form-control" value={{User?.Email}} />
                    </div>

                    <div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !BalanceControl.valid, 'has-success': BalanceControl.valid }">
                        <label class="control-label" for="BalanceControl" *ngIf="!BalanceControl.valid">Поле "Баланс" должно иметь достаточную длину</label>
                        <label class="control-label input-label" for="BalanceControl"> Баланс: </label>
                        <input #Balance type="number" ngControl="Balance" placeholder="Баланс пользователя" class="form-control"  value={{User?.Balance}}/>
                    </div>

                    <label for="UserRole">Роль пользователя:</label>
                    <select #UserRole name="UserRole" [(ngModel)]="_selectedUserRole">
                        <option
                            *ngFor="let role of _userRoles; #ind = index"
                            value="{{role.Name}}"
                            [ngValue]="role">
                            {{role.Name}}
                        </option>
                    </select>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-delete" data-dismiss="modal" (click)="TryDelete();"> Удалить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="updateUser(FirstName.value, LastName.value, Login.value, Email.value, Balance.value);"> Сохранить </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeForm();"> Закрыть</button>
            </div>

            <div *ngIf="_isDeleting" id="confirmWindow">
                <div class="confirm-modal">
                    <div class="popUp" id="popUpConfirmWindow">
                        <div>
                            Пользователь "{{FirstName.value + " " + LastName.value}}"<br>Удалить?
                        </div>
                        <div id="conf-buttons-block">
                            <button (click)="deleteUser();" class="button-confirm">Да</button>
                            <button (click)="popUpCloseWindow()" class="button-close">Нет</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
