﻿button {
    float: none;
    font-size: 15px;
    height: 30px;
    width: 230px;
    border-radius:15px;
    background:none;
    border: 2px solid #a34804;
}
button[active]:hover {
    float: none;
    font-size: 15px;
    height: 30px;
    width: 230px;
    background-color:rgba(195, 157, 125, 0.22);
}
button:active {
    margin-top:1px;
    float: none;
    font-size: 15px;
    height: 30px;
    width: 230px;
    background-color:rgba(195, 157, 125, 0.22);
}
.wrapper{
    margin-top:20px;
    margin-bottom:20px;
}
.modal-content {
    background: url(/Content/background-image/old-paper-stains-repeatable-min.jpg) repeat-y;
    background-size: 100%;
    overflow-x: hidden;
     border: 1px solid rgba(163, 72, 4, 0.7);
    display: block;
}
.buttons-panel {
    height: 33px;
}
.modal-header {
    border-bottom: 2px solid #a34804;
}