﻿<div class="wrapper">
    <provisioners-grid (onRowClicked)="provisionerSelected($event)">Здесь будут отображаться все поставщики. Пожалуйста, подождите...</provisioners-grid>
    <button class="common-button" name="add" type="button" (click)="AddProvisioner()">Добавить</button>
</div>

<provisioner-form *ngIf="_provisionerFormIsVisible"
                  (onProvisionerEdited)="provisionerEdited($event)"
                  (onProvisionerDeleted)="provisionerDeleted($event)">
</provisioner-form>