﻿nav a{
    opacity: 0.7;
    color: #8c1500;
    border: 0.3px solid #8c1500;
    height: 50px;
}
.before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.inner {
  display: inline-block;
  vertical-align: middle;
}

.pagination li a {
    width: 55px;
    height: 55px;
}
li.current a{
    opacity: 1;
    background-color:  #cec9c5;
}
li.active a{
    opacity: 1;
    background-color: #ca945c;
}

li:hover {
    cursor: pointer;
}

nav, div{
    font-weight: bold;
    font-size: 15px;
}
nav {
    text-align: center;
}