﻿<nav aria-label="Page navigation">
    <ul class="pagination">
        <li (click)="onLastWeekClick()">
            <a aria-label="Previous">
                <span class="before"></span>
                <span aria-hidden="true" class="inner">&laquo;</span>
            </a>
        </li>
        <li *ngFor="let dateItem of getWeekList(); # i = index" (click)="onDateBarClick(dateItem)" 
        class='{{ dateItem.getDate() == currentDate.getDate() ?  "active" : isToday(dateItem) ? "current" : ""  }}'>
            <a>
                <div class="weekdayName"> {{ weekdaysNameList[i] }} </div>
               <div class="date"> {{dateItem.getUTCDate()}}.{{dateItem.getMonth() + 1}}</div>
            </a>
        </li>
        <li (click)="onNextWeekClick()">
            <a aria-label="Next">
                <span class="before"></span>
                <span aria-hidden="true"  class="inner">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>