﻿<div class="wrapper">
    <date-bar align="center"></date-bar>
    <div id="menu">
        <center>
            <h1 class="main-font">Меню</h1></center>
        <div *ngFor="let dishType of _dishTypeList; let dishTypeIdx=index">
            <div *ngIf="dishesOfType(dishTypeIdx).length > 0">
                <center>
                    <h3 class="subTitle font-subTitle uppercase-subTitle"> {{ dishType }} </h3>
                </center>
                <hr class="hr-sub">
                <div>
                    <div class="dish-items"
                         *ngFor="let dish of getDishListOfType(dishType)">
                        <div class="dish-info-wrapper">
                            <div>
                                <h3>
                                    <b>{{dish.Name}}</b>
                                </h3>
                            </div>
                            <div>
                                <h3 *ngIf="dish.Description" class="description">{{dish.Description}}</h3>
                            </div>
                        </div>
                        <div class="cost-block">
                            <span class="glyphicon glyphicon-remove cart-but" (click)="DeleteDishFromList(dish)"></span>
                            <span class="glyphicon glyphicon-edit cart-but" (click)="EditDish(dish)"></span>
                            <span class="items-cost-label-with-zeros">
                                <span class="items-cost-label">{{dish.Cost.toFixed(2)}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-sub">
        <div id="button-block">
            <button [disabled]="_dishList.length == 0" type="button" (click)="TryDeleteMenu()" class="common-button menu-buttons" id="del-menu-but"> Удалить меню </button>
            <button [disabled]="!_IsMenuChange" type="button" class="common-button menu-buttons" (click)="CreateOrUpdateMenu()" id="cr-menu-but">
                Сохранить меню
            </button>
        </div>

        <div *ngIf="_isDeleting" id="confirmWindow">
            <div class="confirm-modal">
                <div class="popUp" id="popUpConfirmWindow">
                    <div>
                        Меню на {{_currentDate.toLocaleString("ru", {year: 'numeric', month: 'long', day: 'numeric'}) }}<br>Удалить?
                    </div>
                    <div id="conf-buttons-block">
                        <button (click)="DeleteMenu();" class="button-confirm">Да</button>
                        <button (click)="popUpCloseWindow()" class="button-close">Нет</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="edit">
        <center>
            <h1 class="main-font">Список блюд</h1>
        </center>

        <center>
            <h3 class="subTitle font-subTitle">Наведите и нажмите на блюдо чтобы добавить его в меню</h3>
        </center>

        <hr class="hr-sub">
        
        <button name="add" (click)="CreateNewDish()" class="common-button menu-buttons create-dish-btn">Создать новое блюдо</button>

        <dish-grid (editClick)="editWasClicked($event)"></dish-grid>
    </div>

    <dish-form></dish-form>
</div>