﻿
dish-grid {
    margin-top: 10px;
}
#menu {
    float: left;
    width: 50%;
    margin-bottom: 30px;
    padding-right:3.3%;
}

#edit {
    float: right;
    width: 50%;
}

#button-block {
    width:100%;
}
#button-block button {
    cursor: pointer;
    font-family: 'DINCondensedC';
}
.wrapper{
    
}

button.menu-buttons{
    font-size:20px;
    height:35px;
    width:243px;
    border-radius:15px;
    background:none;
    border: 2px solid #a34804;
}

button.menu-buttons:hover {
    background-color:rgba(195, 157, 125, 0.22);
}

hr{
     height: 2px;
     background-color: #8c1500;
     border: 0;
     opacity: 0.4;
}

.hr-sub{
    width: 100%;
    opacity: 0.4;
    margin-top: 3px;
    margin-bottom: 15px;
}

.dish-items {
    margin: 0;
    padding: 0;
    padding-bottom: 9px;
    width: 100%;
    display: inline-table;
    text-align: left;
}

.cost-block {
    float:right;
    height: 32px;
    width:190px;
    text-wrap:none;
}
.cost-block > span {
    float:right;
    
}
.cart-but{
    margin-left:5px;
    margin-top:7px;
}
hr{
     height: 2px;
     background-color: #8c1500;
     border: 0;
     width: 85.5%;
     opacity: 0.4;
     margin-top: 3px;
     margin-bottom: 15px;
}

h1{

    font-size:30px;
    margin-top: 7px;
    margin-bottom: 23px;
}

h3{

    font-size:19px;
    margin-top: 1px;
    margin-bottom: 3px;
}

.description {
    color: #9a4900;
    font-weight: bold;
    font-size: 15px;
    float: left;
    text-align: left;
    max-width: 76%; 
   
}

.items-cost-label-with-zeros{
   float:right;
   text-align:right;
   color:#614a2a;
   margin-right: 10px;
}
.sum-label-with-zeros{
   float:right;
   color:#614a2a;
}

.subTitle {
    padding-top: 10px;
}

.font-subTitle {
   
}

.uppercase-subTitle {
    text-transform: uppercase;
}

.zeros{
    font-size:15px;
    margin-left:-3px;
    padding-left:0;
    text-shadow: 0px 0 #000000;
}

.subTitle {
    padding-top: 10px;
}

.font-subTitle {
   
}

.uppercase-subTitle {
    text-transform: uppercase;
}

.items-cost-label{
    font-size:22px;
    margin-right:0;
    padding-right:0;
    text-shadow: 0px 0 #000000;
}
/*.dish-info-wrapper{
    float:left;
    width:calc(100% - 124px);
}*/
#del-menu-but{
    float:left;

}
#cr-menu-but{
    float:right;
}

.create-dish-btn {
    float: right;
}
