﻿<div id="conatinerLogin">
    <form>
        <h2 class="unselectable"> Akvelon Lunch </h2>
        <hr/>
        <p><input class="loginForm" #login type="text" name="login" required="required" autofocus="autofocus" placeholder="Имя пользователя" /></p>
        <p><input class="passwordnForm" #password type="password" name="password" required="required" placeholder="Пароль" /><br /></p>

        <p class="keeplogin">
            <input class="checkbox" #remember type="checkbox" name="remember" id="remember" />
            <label class="unselectable" id="checkBoxText" for="remember">Запомнить меня</label><br />
        </p>
        <p class="button">
            <button id="test" name="submit" (click)="signin(login.value, password.value, remember.checked)">Войти</button>
        </p>
    </form>
    <strong class="login_error" *ngIf="done">{{message}}</strong>
</div>

