﻿hr {
    height: 2px;
    border: 0;
    opacity: 1;
    width: 76%;
    margin: auto;
    margin-top: -13px;
    margin-bottom: 15px;
    background-image: -webkit-linear-gradient(left, rgba(167, 159, 159, 0) -8%, #aba6a6, rgba(166, 159, 159, 0));
    background-image: -moz-linear-gradient(left, rgba(167, 159, 159, 0) -8%, #aba6a6, rgba(166, 159, 159, 0));
    background-image: -ms-linear-gradient(left, rgba(167, 159, 159, 0) -8%, #aba6a6, rgba(166, 159, 159, 0));
    background-image: -o-linear-gradient(left, rgba(167, 159, 159, 0) -8%, #aba6a6, rgba(166, 159, 159, 0));
}

 #conatinerLogin {
    width: 454px;
    padding: 20px 30px;
    position: absolute;
    top: 40%;
    left: 50.7%;
    margin-top: -200px;
    margin-left: -239px;
}
@media screen and (max-height: 562px) {
    #conatinerLogin {
        top: 25px;
        left: 50%;
        margin-top:0;
        margin-left: -239px;
    }
}
@media screen and (max-width: 516px) {
    #conatinerLogin {
        left:0;
        width: 90%;
        margin-left: 15px;
        margin-right: 15px;
        min-width:100px;
        height:350px;
        padding: 0;
    }
    #conatinerLogin form h2 {
        font-size: 45px;
    }  
}
#conatinerLogin h2 {
    font-size: 73px;
    text-align: center;
    font-family: 'Exmouth';
}

#conatinerLogin p{
	margin-bottom:15px;
}
#conatinerLogin p:first-child{
	margin: 0px;
}
#conatinerLogin label{
	color: black;
	position: relative;
    padding-top: 20px;
}

#checkBoxText {
    position: absolute;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#conatinerLogin input {
      outline: none;
      border: none !important;
      background: none;
      border-bottom-width: 2px !important;
      border-bottom-style: solid !important;
      margin-top: 20px;
      max-width: none;
}

#conatinerLogin input:not([type="checkbox"]){
	width: 100%;
    font-family: 'DINCondensedC';
	margin-top: 4px;
    font-size: 27px;
    border-color: darkgrey !important;
}

#conatinerLogin input:not([type="checkbox"]):active {
    border: 1px solid rgba(91, 90, 90, 1);
    color: black;
    border-color: black !important;
}
#conatinerLogin input:not([type="checkbox"]):focus{
	border: 1px solid rgba(91, 90, 90, 1);
    color: black;
    
    border-color: black !important;
}

p.button {
    text-align: justify;
    margin: 5px 0;
}

#conatinerLogin p.button button:hover {
    opacity: 0.9;
}

p button:focus {
    outline: none;
}

#conatinerLogin p.button button {
    opacity: 1;
    color: #fff;
    font-size: 20px;
    height: 35px;
    width: 100%;
    font-family: 'DINCondensedC';
    background: #6b3106;
    border: 2px solid #6b3106;
}

#conatinerLogin p.button button:active {
    margin-top:1px;
}

p.keeplogin label {
    margin-top: -5px;
    font-family: 'DINCondensedC';
    text-transform: none;
    font-size: 21px;
    text-align: center;
}

#login{
	position: absolute;
	top: 0px;
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
}

.loginForm{
    margin-top: 20px !important;
}
.passwordForm{
    margin-top: 0px !important;
}


#conatinerLogin strong.login_error{
    width: 94%;
    margin: 20px 3%;
    text-align: center;
    font-family: Tahoma;
    color: #a34804;
}

.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.checkbox + label {
  cursor: pointer;
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative;
    margin-left: 30px;
}

.checkbox:not(checked) + label:before {
    content: '';
    width: 20px;
    height: 20px;
    background: #6b3106;
    position: absolute;
    left: -30px;
    top: 24px;
}

.checkbox:checked + label:before {
    content: '✓';
    color: #fff;
    font-size: 16px;
}