﻿#report-container {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(/Content/background-image/background-white.png) !important;
    background-repeat: repeat;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}

    #report-container table,
    #report-container h3,
    #report-container .amount
     {
        width: 80%;
        margin: 20px 10%;
    }

        #report-container table td,
        #report-container table th {
            border: 1px solid black;
            font-size: 1.4em;
        }
        #report-container table td p {
            margin-top: 0;
            margin-bottom: 0;
        }

    #report-container button {
        margin: 30px 10% 0 10%;
    }

    #report-container h3 {
        margin-top: 0;
        text-align: center;
    }

    #report-container .amount {
        margin-top: 30px;
        font-size: 24px;
        text-align: right;
    }

    #report-container .UserName,
    #report-container .DishName {
        width: 26%;
    }

    #report-container .DishCount,
    #report-container .OrderSum,
    #report-container .OrderDate {
        width: 16%;
    }
