﻿<div id="report-container">
    <button (click)="backToAdminPanel();">Назад к панели администратора</button>

    <h3> Заказы пользователей </h3>

    <table>
        <thead>
        <tr>
            <th> Пользователь </th>
            <th> Блюдо </th>
            <th> Кол-во </th>
            <th> Стоимость </th>
            <th> Дата </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="#ord of OrdersList">
            <td class="UserName"><p>{{ord.UserName}}</p></td>
            <td class="DishName">
                <div *ngFor="#ordLine of ord.Order">
                    <div *ngFor="#item of ordLine.Items">
                        <p>{{item.Dish.Name}}</p>
                    </div>
                </div>
            </td>
            <td class="DishCount">
                <div *ngFor="#ordLine of ord.Order">
                    <div *ngFor="#item of ordLine.Items">
                        <p>{{item.Count}}</p>
                    </div>
                </div>
            </td>
            <td class="OrderSum">
                <div *ngFor="#ordLine of ord.Order; let j=index">
                    <div *ngFor="#item of ordLine.Items; let i=index">
                        <p *ngIf="i==0 || (i>0 && ordLine.Items[i-1].OrderId != ordLine.Items[i].OrderId)">{{ord.TotalSum[j]}}</p>
                        <p *ngIf="(i>0 && ordLine.Items[i-1].OrderId == ordLine.Items[i].OrderId)">&nbsp;</p>
                    </div>
                </div>
            </td>
            <td class="OrderDate">
                <div *ngFor="#ordLine of ord.Order; let j=index">
                    <div *ngFor="#item of ordLine.Items; let i=index">
                        <p *ngIf="i==0 || (i>0 && ordLine.Items[i-1].OrderId != ordLine.Items[i].OrderId)">{{toSimpleDate(ordLine.OrderTime)}}</p>
                        <p *ngIf="(i>0 && ordLine.Items[i-1].OrderId == ordLine.Items[i].OrderId)">&nbsp;</p>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="amount">
        <p> Общая стоимость заказов: {{TotalSum}}</p>
    </div>
</div>