﻿.wrapper {
    background: url('/Content/background-image/old-paper-stains-repeatable-min.jpg') repeat-y;
    background-size: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    border-radius: 9px;
    border: 2px solid #b75427;
    height: 100px;
    width: 300px;
    margin: auto;
    z-index: 1;
}

.wrapper div {
    position: absolute;
    width: 300px;
}

.button-block {
    text-align: center;
    padding-top: 12px;
}

.save-button {
    border: none;
    background: #6b3106;
    font-family: DINCondensedC;
    color: #fff;
    opacity: 1;
    width: 113px;
    height: 26px;
}

.save-button:focus {
    outline: none;
}

.save-button:hover {
    opacity: 0.7;
}

.save-button:active {
     margin-top:1px;
}

.close-button {
    cursor: pointer;
    position: relative;
    font-size: 25px;
    float: right;
    right: 7px;
    top: -1px;
    color: black;
    text-decoration: none;
    opacity: 1;
}

.close-button:hover {
    opacity: 0.7;
}

.checkbox {
  margin: 34px 0 0;
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.checkbox + label {
  cursor: pointer;
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
    margin-left: 43px;
    margin-top: 26px;
    text-align: center;
}

.checkbox:not(checked) + label:before {
    content: '';
    width: 20px;
    height: 20px;
    background: #6b3106;
    position: absolute;
    left: 11px;
    top: 26px;
}

.checkbox:checked + label:before {
    content: '✓';
    color: #fff;
    font-size: 16px;
}

@media screen and (max-width: 385px) {
    .wrapper{
        width: 250px;
    }
    .wrapper div {
        position: absolute;
        width: 250px;
    }
}