﻿<div class="wrapper">
    <div>
        <a class="close-button" (click)="closeSettings()">&times;</a>
        <input [checked]="checkboxChecked" class="checkbox" type="checkbox" #letterNotify id ="letterNotify"/>
        <label for="letterNotify">Уведомления на почту</label> <br />
        <div class="button-block">
            <button class="save-button" (click)="saveOptions(letterNotify.checked); closeSettings()">Сохранить</button>
        </div>
    </div>
</div>