﻿.admin-container {
    margin: 0% 3.3% 0% 7.6%; 
} 

.nav {
    padding-top: 30px;
}

.nav-tabs {
    border-bottom: 1px solid #8c1500;
}

.main-font {
    margin-top: 0;
    margin-bottom: 0;
}

li a{
    font-size: 15px;
    color: black;
    font-weight: bold;
    border: 0.3px solid #8c1500;
}
li.active a{
    background-color: #ca945c;
}
li:hover a{
    opacity: 0.5;
    background-color: #ca945c;
    border: 0.3px solid #8c1500;
    cursor: pointer;
}