﻿<notify (pushNotify)="pushNotification.show()"></notify>
<push-notification #pushNotification
                   [title]="notification.title"
                   [body]="notification.body"
                   [icon]="notification.icon">
</push-notification>

<infopanel></infopanel>
<div class="admin-container">
    <center>
        <h1 class="main-font">Панель администратора</h1>
    </center>

    <ul class="nav nav-tabs">
        <li role="presentation" [ngClass]="{'active': visibleState['menuIsVisible']}">
            <a (click)="showMenu()" class="unselectable">Меню</a>
        </li>
        <li role="presentation" [ngClass]="{'active': visibleState['orderIsVisible']}">
            <a (click)="showOrder()"  class="unselectable">Заказы</a>
        </li>
        <li role="presentation" [ngClass]="{'active': visibleState['provisionersIsVisible']}">
            <a (click)="showProvisioners()"  class="unselectable">Поставщики</a>
        </li>
        <li role="presentation" [ngClass]="{'active': visibleState['settingsAreVisible']}">
            <a (click)="showSettings()"  class="unselectable">Настройки</a>
        </li>
        <li role="presentation" [ngClass]="{'active': visibleState['usersAreVisible']}">
            <a (click)="showUsers()" class="unselectable">Пользователи</a>
        </li>
        <li role="presentation" [ngClass]="{'active': visibleState['moneyLogIsVisible']}">
            <a (click)="showMoneyLog()" class="unselectable">Журнал денежных операций</a>
        </li>
    </ul>

    <admin-menu *ngIf="visibleState['menuIsVisible']"></admin-menu>
    <admin-orders (pushNotify)="pushNotification.show()" *ngIf="visibleState['orderIsVisible']"></admin-orders>
    <provisioners *ngIf="visibleState['provisionersIsVisible']"></provisioners>
    <admin-settings *ngIf="visibleState['settingsAreVisible']"></admin-settings>
    <admin-users *ngIf="visibleState['usersAreVisible']"></admin-users>
    <admin-money-log *ngIf="visibleState['moneyLogIsVisible']"></admin-money-log>
</div>