﻿.filter-container {
    display: block;
    width: 51%;
    margin: 20px 0 10px 4%;
}

    .filter-container h4.info-message {
        display: block;
        text-align: center;
        font-family: 'Times New Roman';
        font-size: 22px;
    }

.grid-table {
    clear: both;
    margin-top: 20px;
}

.modal-dialog {
    margin-top: 70px !important;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 80%;
}

.modal-content {
    background: url(/Content/background-image/old-paper-stains-repeatable-min.jpg) repeat-y;
    background-size: 100%;
    overflow-x: hidden;
     border: 1px solid rgba(163, 72, 4, 0.7);
}

.modal-footer {
    border: none !important;
    margin-top: 10px;
    padding-top: 0;
}
    .modal-footer button {
        background: inherit;
        border-radius: 15px;
        border: 2px solid #a34804;
        opacity: 0.7;
        margin-top: 10px;
        font-size: 20px;
    }
    .modal-footer button:hover {
        opacity: 1;
        cursor: pointer;
    }

    
.action-button {
    font-family: 'DINCondensedC';
    clear: both;
    margin: 0;
    min-width: 220px;
    display: block;
    float: left;
    font-size: 20px;
    border-radius: 15px;
    background: none !important;
    border: 2px solid #a34804;
    opacity: 0.7;
}

	.action-button:hover{
		opacity:1;
	}

    .action-button[disabled] {
        cursor: auto;
    }

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#loadReportButton {
    margin-bottom: 40px;
}