﻿<div class="filter-container">
    <h4 class="info-message"> Выберите интервал для просмотра денежных операций</h4>
    <date-filter (onPeriodChanged)="periodWasChanged($event)" [period]="filterPeriod"></date-filter>
</div>

<transactions-grid class="grid-table"
                   (onRowClicked)="showOrder($event)">
    Здесь будет отображаться журнал денежных операций. Пожалуйста, подождите...
</transactions-grid>

<button  id="loadReportButton" class="action-button" (click)="downloadReport();">Загрузить отчет</button>

<div *ngIf="SelectedOrder!=undefined && IsSelected"
     class="modal fade show in danger" id="order-details">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" (click)="closeForm()">&times;</button>
                <cart [isAdminPanel]="true"
                      [order]="SelectedOrder"
                      [userName]="SelectedUserName"
                      [orderSum]="SelectedOrder.Cost">
                    Здесь будут отображаться детали заказа. Пожалуйста, подождите
                </cart>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeForm();"> Закрыть</button>
            </div>
        </div>
    </div>
</div>