﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Akvelon Lunch</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <base href="@Url.Content("~")" />
    @Styles.Render("~/Content/css")
    <link rel="shortcut icon" href="/Content/favicon.ico" type="image/x-icon" />

    <script src="/Scripts/shim.min.js"></script>
    <script src="/Scripts/zone.min.js"></script>
    <script src="/Scripts/Reflect.js"></script>

    @{var DEBUG = false; }

    @if (DEBUG)
    {
        <script src="/Scripts/system.src.js"></script>
        <script src="/Scripts/systemjs.config.js"></script>
        <script>
            System.import('Scripts/app/boot').catch(console.error.bind(console));
        </script>
    }
    else
    {
        <script src="/Scripts/app/bundle.js"></script>
    }

    <style>
        body {
            background: url(/Content/background-image/old-paper-stains-repeatable-min.jpg) repeat-y;
            background-size: 100%;
            overflow-x: hidden;
        }

        @@font-face {
            font-family: 'GothicRusMedium';
            src: url('../../fonts/GothicRusMedium.eot');
            src: url('../../fonts/GothicRusMedium.eot?#iefix') format('embedded-opentype'), url('../../fonts/GothicRusMedium.ttf') format('truetype'), url('../../fonts/GothicRusMedium.woff') format('woff'), url('../../fonts/GothicRusMedium.svg') format('svg');
        }

        @@font-face {
            font-family: 'CyrillicGoth';
            src: url('../../fonts/goth.eot');
            src: url('../../fonts/goth.eot?#iefix') format('embedded-opentype'), url('../../fonts/goth.ttf') format('truetype'), url('../../fonts/goth.woff') format('woff'), url('../../fonts/goth.svg') format('svg');
        }

        @@font-face {
            font-family: 'a_AntiqueTitulGr';
            src: url('../../fonts/Antique/Antique.eot');
            src: url('../../fonts/Antique/Antique.eot?#iefix') format('embedded-opentype'), url('../../fonts/Antique/Antique.ttf') format('truetype'), url('../../fonts/Antique/Antique.woff') format('woff'), url('../../fonts/Antique/Antique.svg') format('svg');
        }

        @@font-face {
            font-family: 'DINCondensedC';
            src: url('../../fonts/dincondensedc/dincondensedc.eot');
            src: url('../../fonts/dincondensedc/dincondensedc.eot?#iefix') format('embedded-opentype'), url('../../fonts/dincondensedc/dincondensedc.ttf') format('truetype'), url('../../fonts/dincondensedc/dincondensedc.woff') format('woff'), url('../../fonts/dincondensedc/dincondensedc.svg') format('svg');
        }

        @@font-face {
            font-family: 'Exmouth';
            src: url('../../fonts/Exmouth/Exmouth.eot');
            src: url('../../fonts/Exmouth/Exmouth.eot?#iefix') format('embedded-opentype'), url('../../fonts/Exmouth/Exmouth.ttf') format('truetype'), url('../../fonts/Exmouth/Exmouth.woff') format('woff'), url('../../fonts/Exmouth/Exmouth.svg') format('svg');
        }
    </style>

    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Web service for ordering lunches to the Akvelon-Krutitskaya-office" />
</head>
<body>

    <lunch-app>

    </lunch-app>
</body>
</html>