﻿<!-- Modal -->
<div *ngIf="_provisionerFormIsVisible" id="myModal" class="modal fade show in danger" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="_provisionerFormIsVisible = false">&times;</button>
                <h4 class="modal-title">{{_modalHeader}}</h4>
            </div>
            <div class="modal-body">
                <form id="ProvisionerForm" [ngFormModel]="_provisionerForm" class="form-horizontal" role="form">
                    <div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !SupplierNameControl.valid, 'has-success': SupplierNameControl.valid }">
                        <label class="control-label" for="SupplierName" *ngIf="!SupplierNameControl.valid">Поле обязательно для заполнения</label>
                        <label class="control-label input-label" for="SupplierName"> Название фирмы-поставщика: </label>
                        <input #SupplierName type="text" ngControl="SupplierName" placeholder="Название фирмы-поставщика" class="form-control" value={{_provisioner?.SupplierName}}>
                    </div>
                    <div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !AddressControl.valid, 'has-success': AddressControl.valid }">
                        <label class="control-label" for="Address" *ngIf="!AddressControl.valid">Значение поля "Адрес" не удовлетворяет формату</label>
                        <label class="control-label input-label" for="AddressControl">Адрес фирмы: </label>
                        <input #Address type="text" ngControl="Address" placeholder="Адрес фирмы-поставщика" class="form-control" value={{_provisioner?.Address}}>
                    </div>
                    <div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !PhoneControl.valid, 'has-success': PhoneControl.valid }">
                        <label class="control-label" for="PhoneControl" *ngIf="!PhoneControl.valid">Значение поля "Телефон" не удовлетворяет формату</label>
                        <label class="control-label input-label" for="PhoneControl"> Телефон поставщика: </label>
                        <input #Phone type="text" ngControl="Phone" placeholder="Телефон" class="form-control" value={{_provisioner?.Phone}}/>
                    </div>
                    <div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !EmailControl.valid, 'has-success': EmailControl.valid }">
                        <label class="control-label" for="Email" *ngIf="!EmailControl.valid">Значение поля "Адрес электронной почты" не удовлетворяет формату</label>
                        <label class="control-label input-label" for="EmailControl">Адрес электронной почты: </label>
                        <input #Email type="email" ngControl="Email" placeholder="Адрес электронной почты" class="form-control" value={{_provisioner?.Email}}>
                    </div>
                    <div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !ContactPersonNameControl.valid, 'has-success': ContactPersonNameControl.valid }">
                        <label class="control-label" for="ContactPersonNameControl" *ngIf="!ContactPersonNameControl.valid">Поле обязательно для заполнения</label>
                        <label class="control-label input-label" for="ContactPersonNameControl"> Контактное лицо: </label>
                        <input #ContactPersonName type="text" ngControl="ContactPersonName" placeholder="Контактное лицо" class="form-control" value={{_provisioner?.ContactPersonName}}/>
                    </div>
                </form>
            </div>

            <div class="modal-footer margined-top">
                <button type="button" class="btn btn-default common-button btn-delete" data-dismiss="modal" (click)="TryDelete();">Удалить</button>
                <button *ngIf="!_isEditing" type="button" class="btn btn-default common-button" data-dismiss="modal" name="submit" [disabled]="!_provisionerForm.valid" (click)="CreateProvisioner(SupplierName.value, Address.value, Phone.value, Email.value, ContactPersonName.value)">Создать поставщика</button>
                <button *ngIf="_isEditing" type="button" class="btn btn-default common-button" data-dismiss="modal" name="submit" [disabled]="!_provisionerForm.valid" (click)="UpdateProvisioner(_provisioner.Id, SupplierName.value, Address.value, Phone.value, Email.value, ContactPersonName.value)">Обновить</button>
                <button type="button" class="btn btn-default common-button" data-dismiss="modal" (click)="onProvisionerEdited.emit(null);">Закрыть</button>
            </div>
        </div>

        <div *ngIf="_isDeleting" id="confirmWindow">
            <div class="confirm-modal">
                <div class="popUp" id="popUpConfirmWindow">
                    <div>
                        Поставщик "{{SupplierName.value}}"<br>Удалить?
                    </div>
                    <div id="conf-buttons-block">
                        <button (click)="DeleteProvisioner(_provisioner.Id);popUpCloseWindow();" class="button-confirm">Да</button>
                        <button (click)="popUpCloseWindow()" class="button-close">Нет</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>