﻿<div id="verticalHr"></div>
<notify (pushEvent)="pushNotification.show()"></notify>
<infopanel></infopanel>
<menu (onAddNewDishItem)="addDishToCart($event)"></menu>
<cart></cart>
<orderhistory></orderhistory>
<usersettings></usersettings>
<help></help>

<push-notification #pushNotification
                   [title]="notification.title"
                   [body]="notification.body"
                   [icon]="notification.icon">
</push-notification>
<div style="clear: both"></div>
<div id="pizza-img">
    <img src="/Content/menu-images/pizza.png"/>
</div>
<img src="/Content/menu-images/cherry.png" id="cherry-img" />
<img src="/Content/menu-images/mashrooms.png" id="mashrooms-img" />
<img src="/Content/menu-images/cheeze.png" id="cheeze-img" />