﻿menu {
    float:left;
    width:50%;
    min-width:100px;
    padding-left: 5.6%;
    padding-right:1.3%;
    margin-top:0;
    padding-bottom: 34px;
}

cart {
    float:left;
    width:50%;
    min-width:100px;
    padding: 0 5.6% 70px 1.3%;
}

help {
    position: fixed;
    width: 50%;
    top: 12%;
    left: 25%;
    display:none;
    text-align: center;
    z-index: 100;
}

#verticalHr {
    z-index: -2;
    visibility: visible;
    width: 1px;
    height: 76%;
    background-color: rgba(188, 143, 143, 0.41);
    position: absolute;
    margin-left: 50%;
    margin-top: 220px;
}
infopanel{
     margin-left: 7.6%;
     margin-right: 7.6%;
     display:block;

}
.zeros{
    font-family: 'Georgia';
    font-size:22px;
    margin-left:-3px;
    padding-left:0;
    text-shadow: 0 0 #000000;
}

.items-cost-label{
    font-family: 'Georgia';
    font-size:22px;
    margin-right:0;
    padding-right:0;
    text-shadow: 0 0 #000000;
}

.wrapper{
    font-family: 'Arial';
}

.main-font {
    margin-top: 43px;
    margin-bottom: 33px;
    font-family: 'a_AntiqueTitulGr';
    text-transform: capitalize;
    font-size: 50px;
    color: black
}
.cost-block .glyphicon {
    opacity: 1;
}
.cost-block .glyphicon:hover {
    opacity: 0.5;
    cursor: pointer;
}

orderhistory{
    position:fixed;
    height:70%;
    width:70%;
    top:15%;
    left:15%;
    display:none;
}

usersettings {
    position:fixed;
    height: 70%;
    width: 100%;
    top: 12%;
    left: 0%;
    display: none;
    z-index: 1;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.common-button{
    font-family: 'DINCondensedC';
    background:none;
    border: 2px solid #6b3106;
}
.common-button:hover{    
    box-shadow: 1px 1px 1px 0px #887070;
}
.common-button:active{   
    margin-top:1px;
    border-radius:15px;
    background-color:rgba(195, 157, 125, 0.22);
}
.common-button[disabled]{
    background:none;
    opacity: 1 !important;
    font-family: DINCondensedC;
}
.common-dark-button {
    
}

#pizza-img {
    text-align: center;
    position: absolute;
    top: 94px;
    width: 100%;
    z-index: -1;
}
#pizza-img img {
    width: 165px;
    visibility: visible;
}
#cherry-img {
    position: absolute;
    top: 266px;
    right: 2%;
    width: 60px;
    visibility: visible;
}
#mashrooms-img {
    position: absolute;
    bottom: 4px;
    right: 24%;
    width: 74px;
    visibility: visible;
}
#cheeze-img {
    position: absolute;
    bottom: 4px;
    left: 24%;
    width: 76px;
    visibility: visible;
}
@media screen and (max-width: 1164px) {
    #pizza-img { 
        display:none;
    }
}
@media screen and (max-width: 980px) {
    menu {
          float:none;
          width:100%;
          display:block;
          padding-left:3.3%;
          padding-right:3.3%;
    }
    cart {
          float:none;
          width:100%;
          display:block;
          padding-left:3.3%;
          padding-right:3.3%;
          padding-bottom:30px;
    }
    #verticalHr{
        visibility:hidden;
    }

    #pizza-img{
        display: none;
    }
    #cherry-img {
        visibility: hidden;
    }
    #mashrooms-img {
        visibility: hidden;
    }
    #cheeze-img {
         visibility: hidden;
    }
}
@media screen and (max-width: 385px) {

}
