﻿.wrapper{
    background: url('/Content/background-image/old-paper-stains-repeatable-min.jpg') repeat-y;
    background-size: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    border-radius: 9px;
    border: 2px solid #b75427;
    height:100%;
    width:100%;
    padding: 10px;
}
.close-button{
    height:30px;
    width:30px;
    position:absolute;
    right:10px;
    top:10px;
}
date-picker{
    margin-top:40px;
    display:block;
}
#stat-block{
    visibility: hidden;
    width:50%;
    float:left;
}
#order-block{
    width:50%;
    float:left;
    font-size: 20px;
    font-weight: bold;
}
.dish-count {
    margin-left: 10px;
}
.order-item {
    font-size: 18px;
    font-weight: bold;
    white-space: normal;
}
#header {
    font-size: 20px;
    font-weight: bold;
    white-space: normal;
    text-align: center;
    margin-bottom: 30px;
}
.dish-count {
    float: right;
    margin-right: 30px;
}
data-picker {
    display: inline-block;
}
hr{
    height: 2px;
    background-color: #8c1500;
    opacity: 0.4;
}
#sum {
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;
}