﻿<div class="wrapper">
    <button class="close-button glyphicon glyphicon-remove common-button" (click)="close()"></button>
    <div id="stat-block">
        <div *ngFor="let orderSum of orderSumArray">
            <div>{{orderSum}}</div>
        </div>
        <date-filter id="dateInterval" (onPeriodChanged)="getOrderSumsInInterval($event)"></date-filter>
        <select>
            <option id="week">Неделя</option>
            <option id="month">Месяц</option>
            <option id="th-month">3 месяца</option>
            <option id="year">Год</option>
        </select>
    </div>
    <div id="order-block">
        <div id="header">История заказов</div>
        <div *ngIf="order == null">
           Нет заказа в этот день
        </div>
        <div *ngIf="order != null">
            <div *ngFor="let orderItem of order.Items" class="order-item">
                <hr/>
                <span>{{orderItem.Dish.Name}},    </span>
                <span class="dish-cost">{{orderItem.Dish.Cost}} P</span>
                <span class="dish-count">{{orderItem.Count}}</span>
            </div>
            <div id="sum">Сумма заказа:  {{order.Cost}} P</div>
        </div>
     
        <div>
            <date-picker id="orderDate" (onDateChanged)="getOrderByDate($event)" [setDate]="initOrderDate"></date-picker>
        </div>
    </div>
</div>
