﻿<div class="wrapper">
    <div id="errorSnackbar">
        <a (click)="closePopUpError()">&times;</a>
        <span class="errorMessage"><b>{{messageError}}</b></span>
    </div>
</div>

<!--<div class="popUp" id="popUpStatusOrder">
    <span>Ваш заказ №{{orderId}}</span>    
    <a (click)="closePopUpStatusOrder()">&times;</a>
    <button (click)="closePopUpStatusOrder()">Закрыть</button>
    <span>Доставлен</span>   
</div>-->

<!--<div class="popUp" id="notify">
    <span>{{notifyMessage}}</span>
    <a (click)="closeNotify()">&times;</a>
    <button (click)="closeNotify()">Закрыть</button>
</div>-->