﻿.wrapper {
    z-index: -5;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 85px;
    z-index: 1;
}

#notify {
    visibility: hidden;
}

#popUpStatusOrder {
    visibility: hidden;
}

.showPopUpStatusOrder {
    visibility: visible !important;    
}

.popUp span:first-child{
    color: #333;
    font-weight: bold;
    margin: auto;
    display: block;
    font-size: 18px;
}

.popUp span:last-child{
    font-weight: bold;
    font-size: 18px;
}

.popUp button{
    font-size: 20px;
    height: 35px;
    width: 72%;
    border-radius: 15px;
    background: none;
    border: 2px solid #a34804;
    position: absolute;
    top: 67%;
    left: 14%;
}

.popUp button:hover{
    background-color:rgba(195, 157, 125, 0.22);
    border: 2px solid #9d1300;
}

.popUp button:active{
    margin-top:1px;
}
.popUp button:focus{
    outline: none;
}

.popUp a {
    color: #333;
    position: absolute;
    top: 0px;
    right: 8px;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}

.popUp a:hover {
    opacity: 1;
}

#errorSnackbar {
    visibility: hidden;
    background-color: rgba(216, 168, 109, 0.56);
    color: rgba(142, 97, 28, 0.92);
    padding: 16px;
    border-radius: 7px;
    width: 18%;
    margin: auto;
}

#errorSnackbar a {
    color: #fff;
    position: relative;
    top: -19px;
    right: -9px;
    float: right;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.5;
    text-decoration: none;
}

#errorSnackbar a:hover {
    opacity: 1;
}

.errorMessage {
    position: relative;
    top: 6px;
    font-family: 'Georgia';
}

.show {
    visibility: visible !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 50px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 50px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@media screen and (max-width: 445px) {
    #popUpStatusOrder {
     width: 90%;
      left: calc(50% - 45%);
    }
}