﻿<div class="date-picker-container">
    Начальная дата: <date-picker (onDateChanged)="startDateWasChanged($event)" [disableSince]="finishFilterDate" [isStart]="true" [previousDateValue]="toIDate(startFilterDate)"></date-picker>
</div>
<div class="date-picker-container">
    Конечная дата: <date-picker (onDateChanged)="finishDateWasChanged($event)" [disableUntil]="startFilterDate" [isStart]="false" [previousDateValue]="toIDate(finishFilterDate)"></date-picker>
</div>
