﻿.date-picker-container {
    width: 262px;
    min-width: 262px;
    display: inline;
    float: left;
    width: 40%;
    margin: 10px 5%;
    font-family: 'Times New Roman';
    font-size: 17px;
}
