﻿<!-- Modal -->
<div *ngIf="_dishFormIsVisible" id="myModal" class="modal fade show in danger" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="_dishFormIsVisible = false">&times;</button>
                <h4 class="modal-title">{{_modalHeader}}</h4>
            </div>
            <div class="modal-body">
                <form id="DishForm" [ngFormModel]="_dishForm" class="form-horizontal" role="form">
                    <div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !NameControl.valid, 'has-success': NameControl.valid }">
                        <label class="control-label" for="Name" *ngIf="!NameControl.valid">Поле обязательно для заполнения</label>
                        <label class="control-label input-label" for="NameControl"> Название блюда: </label>
                        <input #Name type="text" ngControl="Name" placeholder="Название блюда" class="form-control" value={{_dish?.Name}}>
                    </div>

                    <div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !DescriptionControl.valid, 'has-success': DescriptionControl.valid }">
                        <label class="control-label" for="Description" *ngIf="!DescriptionControl.valid">Превышение длинны текста в 1000 символов</label>
                        <label class="control-label input-label" for="DescriptionControl"> Описание блюда: </label>
                        <textarea #Description type="text" ngControl="Description" placeholder="Описание" class="form-control" rows="7" id="descr-area">{{_dish?.Description}}</textarea>
                    </div>
                    <div [ngClass]="{'form-group': true, 'has-feedback': true, 'has-error': !CostControl.valid, 'has-success': CostControl.valid }">
                        <label class="control-label" for="CostControl" *ngIf="!CostControl.valid">Значение поля "Цена" не удовлетворяет денежному формату</label>
                        <label class="control-label input-label" for="CostControl"> Цена блюда: </label>
                        <input #Cost type="number" ngControl="Cost" placeholder="Цена" class="form-control" value={{_dish?.Cost}}/>
                    </div>

                    <div class="margined-top">
                        <label for="DishType">Тип блюда:</label>
                        <select #DishType name="DishType" [(ngModel)]="_selectedDishType">
                            <option *ngFor="let dishType of _dishTypes" [ngValue]="dishType">{{dishType.Name}}</option>
                        </select>
                    </div>
                    <div class="margined-top">
                        <label for="DishProvisoner">Поставщик:</label>
                        <select #DishProvisoner name="DishProvisoner" [(ngModel)]="_selectProvisioner">
                            <option *ngFor="let provisioner of _provisionersList" [ngValue]="provisioner">{{provisioner.SupplierName}}</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="modal-footer margined-top">
                <button *ngIf="!_dish" type="button" class="btn btn-default common-button" data-dismiss="modal" name="submit" [disabled]="!_dishForm.valid" (click)="AddDish(Name.value, Description.value, Cost.value)">Создать блюдо</button>
                <button *ngIf="_dish" type="button" class="btn btn-default common-button" data-dismiss="modal" name="submit" [disabled]="!_dishForm.valid" (click)="UpdateDish(_dish.Id, Name.value, Description.value, Cost.value)">Обновить</button>
                <button type="button" class="btn btn-default common-button" data-dismiss="modal" (click)="_dishFormIsVisible = false">Закрыть</button>
            </div>
        </div>
    </div>
</div>
