﻿.item-block{
    position:relative;
    margin-top:13px;
    margin-bottom:0;
}
.item-block div{
    text-wrap:none;
}
.item-block .close-button{
    display:inline-block;
    background:none;
    border:none;
    float:right;
}
.items-cost-label-with-zeros{
   width:90px;
   float:right;
   color:#614a2a;
   text-align:right;
}
.sum-label-with-zeros{
   float:right;
   color:#614a2a;
}
.item-block .item-name{
    font-family: 'Georgia';
    display:inline-block;
    font-size:18px;
    font-weight:bold;
    white-space:normal;
}
.item-block .count-input-block{
    bottom:10px;
    left:10px;
    font-size:16px;
}
.item-block .count-input-block input{
    color:#614a2a;
}
.item-block .count-input-block input[disabled]{
    color:rgba(97, 74, 42, 0.50);
    border: 2px solid #564f4b;
    opacity: 0.7;
}
.order-edit-but-panel{
    text-align:left;
}
.order-edit-but-panel button{
    display: inline-block;
    float: right;
    font-size: 20px;
    height: 35px;
    width: 144px;
    border-radius: 0;
    background: #6b3106;
    font-family: DINCondensedC;
    color: #fff;
}
.order-edit-but-panel button:hover{
    display: inline-block;
    float: right;
    font-size: 20px;
    height: 35px;
    width: 144px;
    border-radius: 0;
    background: #6b3106;
    cursor: pointer;
    opacity: 0.8;
}

.order-edit-but-panel button[disabled] {
    color: darkgrey;
}

.order-edit-but-panel button[disabled]:hover {
    display: inline-block;
    float: right;
    font-size: 20px;
    height: 35px;
    width: 144px;
    border-radius: 0;
    background: #6b3106;
    cursor: pointer;
    opacity: 1 !important;
    box-shadow: none;
    cursor: default;
}

.order-edit-but-panel button:active{
    display: inline-block;
    float: right;
    margin-top:1px;
    font-size:20px;
    height:35px;
    width: 144px;
}
.order-edit-but-panel button:focus{
    outline: none;
}
#status-label{
    display: inline-block;
    float:left;
    font-size:20px;
    margin-top: 4px;
    font-weight:bold;
    height:28px;
}
#cancel-but{
    width:auto;
    padding-left:10px;
    padding-right:10px;
}
.pricing-table:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
.count-input-block{
    float:right;
    height:30px;
    display:block;
}
.count-input-block input{
    width:40px;
    height:100%;
    background:none;
    border:none;
    padding-left:7px;
    border: 2px solid #564f4b;
    margin:0 3px 0 3px;
    float: left;
}
.count-input-block input:focus{
    outline: none;
    box-shadow: 0px 0px 3px 1px #887070;
}
.count-input-block input[disabled]{
    width:40px;
    height:100%;
    background:none;
    border:none;
    padding-left:7px;
    border: 2px solid #564f4b;
    margin:0 3px 0 3px;
}
.count-input-block button{
    width:30px;
    height:30px;
    background-repeat:no-repeat;
    float: left;
}

.count-input-block button:hover{
    width:30px;
    height:30px;

}

.count-input-block button:active{
    width:30px;
    height:30px;
    margin-top:1px;

}

.count-input-block .minus-button{
    border-radius:15px 0 0 15px;
    background-image: url(Content/cart-images/minus-colored.png);
    background-size:12px 4px;
    background-repeat: no-repeat;
    background-position:8px 12px;
    border: 2px solid #564f4b;
}
.count-input-block .minus-button[disabled]{
    border-radius:15px 0 0 15px;
    background-image: url(Content/cart-images/minus-colored.png);
    background-size:12px 4px;
    background-position:8px 12px;
    border: 2px solid #564f4b;
    opacity: 0.7 !important;
}
.count-input-block .minus-button[disabled]:hover{
    border-radius:15px 0 0 15px;
    background-image: url(Content/cart-images/minus-colored.png);
    background-size:12px 4px;
    background-position:8px 12px;
    background-repeat: no-repeat;
    border: 2px solid #564f4b;
    opacity: 0.7 !important;
    box-shadow: none;  
}
.count-input-block .minus-button:active {
    border-radius:15px 0 0 15px;
    background-image: url(Content/cart-images/minus-colored.png);
    background-size:12px 4px;
    background-position:8px 12px;
}
.count-input-block .plus-button{
    border-radius:0px 15px 15px 0;
    background-image: url(Content/cart-images/plus-colored.png);
    background-size:12px 13px;
    background-repeat: no-repeat;
    background-position:6px 7px;
    border: 2px solid #564f4b;
}
.count-input-block .plus-button[disabled]{
    border-radius:0px 15px 15px 0;
    background-image: url(Content/cart-images/plus-colored.png);
    background-size:12px 13px;
    background-position:6px 7px;
    background-repeat: no-repeat;
    border: 2px solid #564f4b;
    opacity: 0.7 !important;
}
.count-input-block .plus-button[disabled]:hover{
    border-radius:0px 15px 15px 0;
    background-image: url(Content/cart-images/plus-colored.png);
    background-size:12px 13px;
    background-position:6px 7px;
    border: 2px solid #564f4b;
    background-repeat: no-repeat;
    opacity: 0.7 !important;
    box-shadow: none;
}
.count-input-block .plus-button:active {
    border-radius:0px 15px 15px 0;
    background-image: url(Content/cart-images/plus-colored.png);
    background-size:12px 13px;
    background-position:6px 7px;
}
.panel-heading-landing {
    background: #f7f7f7;
    padding: 20px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 2px #5CB85C;
    border-bottom: none;
}
.panel-heading-landing-box {
    font-weight: bolder;
    background: #5CB85C; 
    color: #fff; 
    font-size: 16px; 
    padding: 3px; 
    border: solid 4px #5CB85C; 
    border-top: none;
    vertical-align: bottom;
}
.panel-title-landing {
    color: #626367;
    font-size: 25px;
    font-weight: bold;
}
.panel-body-landing {
    border: solid 2px #ccc; 
    border-top: none; 
    border-bottom: none;
    min-height: 100px;
    max-width: 368px;
    max-height: 340px;
    overflow-y: auto;
}
.panel-footer-landing {
    border: solid 2px #ccc;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-top: none !important;
}

hr{
    height: 2px;
    border: 0;
    opacity: 1;
    margin: auto;
    margin-bottom: 15px;
    background-image: -webkit-linear-gradient(left, rgba(167, 159, 159, 0) -8%, #aba6a6, rgba(166, 159, 159, 0));
    background-image: -moz-linear-gradient(left, rgba(167, 159, 159, 0) -8%, #aba6a6, rgba(166, 159, 159, 0));
    background-image: -ms-linear-gradient(left, rgba(167, 159, 159, 0) -8%, #aba6a6, rgba(166, 159, 159, 0));
    background-image: -o-linear-gradient(left, rgba(167, 159, 159, 0) -8%, #aba6a6, rgba(166, 159, 159, 0));
}

.bottom-line{
    margin-top:15px;
}
h1{
    text-align:center;
    font-size:30px;
    margin-top:45px !important;
    margin-bottom:44px;
}
.sum-discount-block{
    font-family: 'Georgia';
    font-size:21px;
    color:#614a2a;
    margin-top:25px;
}
.sum-discount-subblock{
    margin-bottom:10px;
}
.res-cost-label{
    font-family: 'Georgia';
    font-size:22px;
    text-shadow: 0px 0 #000000;
}
.big-zeros {
    font-family: 'Georgia';
    font-size:22px;
    margin-left: -3px;
    text-shadow: 0px 0 #000000;
}
#empty-label{
    text-align: center;
    font-size:20px;
    font-family: 'Georgia';
    color:#614a2a;
}
.cart-line{
    margin-top:10px;
    opacity: 0.4;
}
.uppercase-subTitle {
    text-transform: uppercase;
}
.total-sum-label-with-zeros {
    float:right;
    color:#614a2a;
    font-weight:bold;
}

.main-font {
    margin-bottom: 55px !important; 
}
.admin-header-font {
    font-family: 'Georgia';
    font-size:25px;
    font-weight: bold;
}
@media screen and (max-width: 1350px) {
     #status-label{
         display:block;
         float:none;
         margin-top:30px;
         margin-bottom:30px;
     }
     .order-edit-but-panel {
        text-align:right;
      }
      .order-edit-but-panel button{
         float:none;
     }
      .order-edit-but-panel button:hover{
         float:none !important;
    }
     .order-edit-but-panel button:active{
         float:none;
    }
}
@media screen and (max-width: 980px) {
    .order-edit-but-panel{
        text-align:center;
    }
  
    .order-edit-but-panel button{
        float:none;
    }
    #status-label{
         float:none;
         margin-top:10px;
         margin-bottom:10px;
     }
}
@media screen and (max-width: 585px) {
    .count-input-block input{
        width:20px;
        padding-left:0;
        text-align:center;
    }
    .count-input-block input[disabled]{
        width:20px;
        padding-left:0;
        text-align:center;
        opacity: 0.7;
    }
    .count-input-block input:focus{
        width:20px;
        padding-left:0;
        text-align:center;
    }
    .order-edit-but-panel button{
        float:none;
        height:30px;
        width:230px;
    }
    .order-edit-but-panel button:hover{
        float:none !important;
        height:30px !important;
        width:230px !important;
    }
     .order-edit-but-panel button:active{
        float:none;
        height:30px;
        width:230px;
    }
    /*.item-name{
        width:calc(100% - 180px);
    }*/
}
@media screen and (max-width: 324px) {
    .items-cost-label-with-zeros {
        width:60px;
    }
    h1 {
        font-size: 36px !important;
    }
}
@media screen and (max-width: 263px) {
     .order-edit-but-panel button{
        float:none;
        height:30px;
        width:100%;
        padding: 0 50px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
