﻿<h1 class="main-font" *ngIf="isAdminPanel" class="admin-header-font">
    <span>Заказ пользователя <br>{{userName}}</span>
</h1>
<h1 class="main-font" *ngIf="!isAdminPanel">
    <span >Мой заказ</span>
</h1>
<div class="wrapper">
    <hr />
    <p *ngIf="order.Items.length < 1" id="empty-label">
        Нет выбранных блюд
    </p>
    <div>
        <div *ngFor="let orderItem of order.Items; let idx=index" class="item-block">
            <div>
                <p class="item-name">{{orderItem.Dish.Name}}</p>
                <span class="items-cost-label-with-zeros">
                    <span class="items-cost-label"> {{(orderItem.Dish.Cost*orderItem.Count).toFixed(2)}}</span>
                </span>
   
                <span class="count-input-block">
                    <button *ngIf="!isAdminPanel" (click)="setDishCount(orderItem.Dish, orderItem.Count-1)" class="common-button minus-button" [disabled]="Locked"></button>
                    <input [(ngModel)]="orderItem.Count" oninput="var res = parseInt(this.value) | 0; res = (res < 0)? 0 : res; this.value = (res > 999)?  Math.floor(res/10) : Number(res); "
                           (blur)="setDishCount(orderItem.Dish, orderItem.Count)" [disabled]="Locked||isAdminPanel" />
                    <button *ngIf="!isAdminPanel" (click)="addDish(orderItem.Dish)" class="common-button plus-button" [disabled]="Locked"></button>

                </span>
            </div>
            <hr class="cart-line" *ngIf="idx <  order.Items.length - 1" />

        </div>
        <hr class="bottom-line" />
    </div>

    <div *ngIf="!isAdminPanel">
        <div *ngIf="order.Items.length>0" class="sum-discount-block">
            <div class="sum-discount-subblock">
                <span class="">Сумма заказа:</span>
                <span class="sum-label-with-zeros">
                    <span class="res-cost-label">{{totalSum.toFixed(2)}}</span>
                </span>
            </div>
            <div class="sum-discount-subblock">
                <span>Скидка:</span>
                <span class="sum-label-with-zeros">
                    <span class="res-cost-label">{{discount.toFixed(2)}}</span>
                </span>
            </div>
            <div class="sum-discount-subblock">
                <span class="total-label uppercase-subTitle">Итого:</span>
                <span class="sum-label-with-zeros total-num total-sum-label-with-zeros">
                    <span class="res-cost-label">{{(totalSum - discount).toFixed(2)}}</span>
                </span>
            </div>
            <hr class="bottom-line" />
        </div>
    </div>
</div>

<div *ngIf="isAdminPanel" class="sum-discount-block">
    <div class="sum-discount-subblock">
        <span class="total-label uppercase-subTitle">Итого:</span>
        <span class="sum-label-with-zeros total-num total-sum-label-with-zeros">
            <span class="res-cost-label">{{orderSum.toFixed(2)}}</span>
        </span>
    </div>
    <hr class="bottom-line"/>
</div>
    
<div *ngIf="!isAdminPanel" class="order-edit-but-panel">
    <div id="status-label">{{OrderStatus}}</div>
    <div *ngIf="totalSum < 1 ">
        <button class="common-button" disabled showDependingOnTime [showMode]="'hide-then-closed'">Сделать заказ</button>
    </div>
    <div *ngIf="totalSum > 0" showDependingOnTime [showMode]="'hide-then-closed'">
        <button class="common-button" id="buttonMake" [disabled]="buttonDis || orderStatus == 3" (click)="makeOrder()" *ngIf="orderStatus == null && timeForOrderIsValid">Сделать заказ</button>
        <button class="common-button" active onclick="this.disabled = true" [disabled]="orderStatus == 3" (click)="cancel(); enableButton()" *ngIf="orderStatus != null && Locked">Отмена</button>
    </div>
   
</div>
