﻿.dish-items {
    padding-top: 0;
    padding-bottom: 9px;
    width: 100%;
    text-align: left;
}
.dish-items div {
    text-wrap:none;
}

.cost-block {
    top: 0;
    right: 0;
    height: 32px;
    white-space:nowrap;
    display: table-cell;
    padding-left: 7px;
}
.cost-block > div{
    display: inline-block;
}
.dish-info-wrapper{
    float:left;
    width: 100%;
    position: relative;
    padding-bottom: 0;
    display: table;
}

.line {
    height: 2px;
    border: 0;
    opacity: 1;
    width: 39%;
    margin: auto;
    margin-bottom: 15px;
    background-image: -webkit-linear-gradient(left, rgba(167, 159, 159, 0) -8%, #aba6a6, rgba(166, 159, 159, 0));
    background-image: -moz-linear-gradient(left, rgba(167, 159, 159, 0) -8%, #aba6a6, rgba(166, 159, 159, 0));
    background-image: -ms-linear-gradient(left, rgba(167, 159, 159, 0) -8%, #aba6a6, rgba(166, 159, 159, 0));
    background-image: -o-linear-gradient(left, rgba(167, 159, 159, 0) -8%, #aba6a6, rgba(166, 159, 159, 0));
}


h1{
    font-size:30px;
    margin-top: 0;
    margin-bottom: 23px;
}

h3{
    font-size:19px;
    margin-top: 1px;
    margin-bottom: 3px;
}

.description {
    color: #352f28;
    font-weight: 500;
    font-size: 17px;
    float: left;
    font-family: 'Calibri';
    margin-top: 0;
    width: 87%;
}

#MenuNotFound {
    padding-top: 25px;
    display:none;
    padding-bottom: 73%;
    font-family: 'Georgia';
}

#MenuNotFound div {
     font-size: 20px;
     text-align:center;
     color: #614a2a;
}
#MenuNotFound img {
    position: relative;
    left: 33.6%;
    top: 34px;
    width: 31%;
}
.show {
    display: block !important;
}

a:hover {
    opacity: 0.7;
}

a:active {
    padding-top: 3px;
}

.basket-empty {
    padding-right: 1px;
    opacity: 1;
    cursor: pointer;
}
.basket-empty:active {
    padding-top:3px;
}
.basket-full {
    opacity: 1;
    cursor: pointer;
}
.basket-full:active {
    padding-top:3px;
}
.items-cost-label-with-zeros{
   text-align:right;
   color:#614a2a;

}
.bucket-button{
    text-align:right; 
    margin-left: 10px;
    width: 36px;
    display: inline-block;
}

.bucket-button a img {
   vertical-align: text-bottom;
}

.subTitle {
    padding-top: 10px;
}

.font-subTitle {
   font-family: 'DINCondensedC';
   font-size: 23px;
}

.uppercase-subTitle {
    text-transform: uppercase;
}
#closed-label{
    position: absolute;
    left: 10.0%;
    top: 245px;
    width: 34%;
}

center {
    align-items: center;
}
.dish-name{ 
    white-space: nowrap;
    font-family: 'Georgia';
    margin-top: 3px;
    margin-right: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

.hrDotted {
  text-align: center;
  margin-bottom: 7px;
  margin-top: 16px;
  width: 100%;
  display: table-cell;
  background: url(/Content/menu-images/point.png) repeat-x;
  background-size: 4px 2px;
  background-position: 0 21px;
}

/*.hrDotted:after {
	content: '•';
    top: -14px;
    padding: 0 10px;
    font-size: 21px;
}*/

.wrapper {
    font-family: 'Arial';

}
.wrapper > div {
    margin-bottom: 34px;
    position: relative;
}
#soup-img {
    position: absolute;
    top: -52px;
    left: -1%;
    width: 97px;
    visibility: visible;
}
#salad-img {
    position: absolute;
    top: -21px;
    left: 0%;
    width: 46px;
    visibility: visible;
}
#dessert-img {
    position: absolute;
    top: -31px;
    right: 18%;
    width: 80px;
    visibility: visible;
}

@media screen and (max-width: 1440px) {
    #dessert-img {
        right: 7%;
    }
}

@media screen and (max-width: 1200px) {
    .dish-name { 
        max-width: 290px;
    }
}

@media screen and (max-width: 1024px) {
    .dish-name { 
        max-width: 250px;
    }
}


@media screen and (max-width: 980px) {
    #closed-label {
        position: absolute;
        left: 10.0%;
        top: 245px;
        width: 80%;
    }
    #MenuNotFound {
        padding-bottom: 66%;
    }
    .dish-name {
        max-width: 400px;
    }
}
@media screen and (max-width: 645px) {
    #menu-header {
        display: none;
    }
    #soup-img {
        visibility: hidden;
    }
}

@media screen and (max-width: 645px) {
    #dessert-img {
        visibility: hidden;
    }
    #closed-label{
        top:188px;
    }
}

@media screen and (max-width: 385px) {
    .dish-name {
        max-width: 136px;
    }

    h1{
        margin-top:-17px;
    }
    .main-font {
         font-size: 36px !important;
    }
    #closed-label{
        top:185px;
    }
    #MenuNotFound {
        padding-bottom: 76%;
    }

}
.hrDotted {
    border:none;
    text-align: center;
    margin-bottom: 7px;
    margin-top: 16px;
    width: 100%;
}

.hrDotted:after {
    top: -14px;
    font-size: 10px;
    overflow: hidden; 
    padding-top: 11px;
}

.sizeForBasketFull {
    height: 26px;
}