﻿
   
    <title>Menu</title>
    <script src="../Menu/menu.component.js"></script>
    <hr />
    <div style="float: left; width: 100px">.</div>
    <div style="float: left; background: #808080; width: 52%; height: 800px">
        <center><h1>Menu</h1><hr /></center>
        <div>       
            <div *ngFor="#dish of dishes" class="badge" style="float: left; width: 17%; height: 100px; background: #ffffff">
                <center>
                    <text style="color: black">{{dish.Name}}</text>
                </center>
                <button>-</button>
                <button (click)="onSelect(dish)">+</button>
            </div>
        </div>
        <div style="clear: both;">
            <hr />
            <center>Salad</center>
            <hr />
            <div style="float: left; width: 28.7%;">.</div>
            <div style="float: left; width: 17%; height: 100px; background: #ffffff">
                <center>Salad1</center>
                <button>-</button>
                <button>+</button>
            </div>
            <div style="float: left; width: 8.5%;">.</div>
            <div style="float: left; width: 17%; height: 100px; background: #ffffff">
                <div style="background: #b200ff; width: 20px; height: 20px" id="count"></div>
                <center>Salad2</center>
                <button onclick="decCount()">-</button>
                <button onclick="incCount()">+</button>
            </div>
        </div>
    </div>