﻿<center id="menu-header">
    <h1 class="main-font">Меню</h1>
</center>
<div class="wrapper" *ngIf="menuFlag">
    <div *ngFor="let dishTypeItem of dishTypeList; let dishTypeIdx=index">
        <img *ngIf="dishTypeItem == 'Суп' && dishesOfType(dishTypeIdx).length > 0" src="/Content/menu-images/soup.png" id="soup-img"/>
        <img *ngIf="dishTypeItem == 'Салат' && dishesOfType(dishTypeIdx).length > 0" src="/Content/menu-images/salad.png" id="salad-img"/>
        <img *ngIf="dishTypeItem == 'Дополнительное' && dishesOfType(dishTypeIdx).length > 0" src="/Content/menu-images/dessert.png" id="dessert-img"/>
         
        <div *ngIf="dishesOfType(dishTypeIdx).length > 0">
            <center>
                <h3 class="font-subTitle uppercase-subTitle"><b>{{dishTypeItem}}</b></h3></center>
            <hr class="line">
            <div>
                <div class="dish-items"
                     *ngFor="let orderItem of dishesOfType(dishTypeIdx); let i=index">
                    <div>
                        <div class="dish-info-wrapper">
                            <h3 class="dish-name">
                                <b title="{{orderItem.Dish.Name}}">{{orderItem.Dish.Name}}</b>
                            </h3>                         
                            <hr class="hrDotted"/>
                            <div class="cost-block">
                                <div class="items-cost-label-with-zeros">
                                    <span class="items-cost-label">{{orderItem.Dish.Cost.toFixed(2)}}</span>
                                </div>
                                <div showDependingOnTime [showMode]="'remove-then-closed'" [displayMode]="'inline-block'"  class="bucket-button">
                                    <a class="basket-empty" *ngIf="orderItem.Count < 1" (click)="incDishCount(orderItem.Dish)" aria-label="Left Align">
                                        <img src="/ScriptsApp/components/mainScreen/menu/icons/basketW32.png"/>
                                    </a>
                                    <a class="basket-full" *ngIf="orderItem.Count > 0" (click)="incDishCount(orderItem.Dish)" aria-label="Left Align">
                                        <img class="sizeForBasketFull" src="/ScriptsApp/components/mainScreen/menu/icons/basket-fullW32.png"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                            <div style="display: inline-block"><h3 *ngIf="orderItem.Dish.Description" class="description">{{orderItem.Dish.Description}}</h3></div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="MenuNotFound">
    <hr class="line">
    <div>Нет меню на сегодня</div>   
</div>

<img src="/Content/closed.png" id="closed-label"
     showDependingOnTime [showMode]="'show-then-closed'" [enableClosed]="dishes.length < 1 && menuLoadWasPerformed"/>
