﻿thead {
    font-size: 19px;
    font-weight: bold;
}

table {
    border: 1px solid #8c1500;
    table-layout: fixed;
}
table *:not(span):not(.Edit){
    border: 1px solid #8c1500;
}
td p, td div {
    border: none !important;
}
tbody, #countOfItemsOnPageForm {
    color: #5a5857;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    max-width: 76%;
  
}

#countOfItemsOnPageForm {
    padding: 5px;
}

#countOfItemsOnPageForm select {
    border: 0.3px solid #8c1500;
    opacity: 0.7;
    color: #9a4900;
}
#countOfItemsOnPageForm select:hover,#countOfItemsOnPageForm select:focus{
    opacity: 1;
}

#FilterStringInput {
    font-size: 15px;
    color: black;
    border: 0.3px solid #8c1500;
  
    font-weight: bold;
    opacity: 0.7;
}

#FilterStringForm {
    padding-top: 10px;
}

#FilterStringInput:hover,#FilterStringInput:focus{
    opacity: 1;
    color: #9a4900;
}

nav a{
    opacity: 0.7;
    color: #8c1500;
    border: 0.3px solid #8c1500;
}
li.active a{
    opacity: 1;
    background-color: #ca945c;
}

nav {

    font-weight: bold;
    font-size: 15px;
}

tbody tr:hover {
     background-color:rgba(195, 157, 125, 0.22);
     cursor: pointer;
    color: #8c1500;
}

.Edit {
    width: 5%;
    border: none !important;
}
.Edit * {
    border: none !important;
}
.pagination {
    cursor: pointer;
}

    .pagination a {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }