﻿<div *ngIf="mode=='main'">
    <div class="item-block"
         *ngFor="#provisioner of Provisioners">

        <div class="provisioner-data">
            <h3>{{provisioner.SupplierName}}</h3>
            <hr class="splitter">
            <!--<span class="provisioner-data-item">Адрес: {{provisioner.Address}}</span>
            <span class="provisioner-data-item">Телефон: {{provisioner.Phone}}</span>
            <span class="provisioner-data-item">Электронная почта: <a href="mailto:{{provisioner.Email}}">{{provisioner.Email}}</a></span>-->
        </div>

        <div *ngIf="wereOrders()" class="total-order-list cleared-float">
            <div class="button-column-container">
                <button *ngIf="!wasDeliev" class="action-button common-button tall-button" (click)="tryDelieveOrders();">Сообщить о доставке сегодняшнего заказа</button>
                <button *ngIf="wasDeliev" class="action-button common-button tall-button" disabled="disabled">Заказы доставлены</button>
            </div>
            <div class="button-column-container">
                <button class="action-button common-button narrow-button" (click)="showReport();">Версия для печати</button>
                <button class="action-button common-button narrow-button"(click)="downloadReport();">Загрузить отчет</button>
            </div>
        </div>

        <div *ngIf="isConfirmDelieveryWindowVisible" id="confirmWindow">
            <div class="confirm-modal">
                <div class="popUp" id="popUpConfirmWindow">
                    <div>
                        Поставщик "{{provisioner.SupplierName}}"<br>Сообщить о доставке?
                    </div>
                    <div id="conf-buttons-block">
                        <button (click)="giveOrdersDelieveryStatus()" class="button-confirm">Да</button>
                        <button (click)="popUpCloseWindow()" class="button-close">Отмена</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!wereOrders()" class="total-order-list cleared-float order-message">
            <span> Нет заказов, удовлетворяющих выбранному фильтру </span>
        </div>

        <div class="filter-container">
            <h4 class="info-message"> Выберите интервал для просмотра заказов</h4>
            <date-filter (onPeriodChanged)="periodWasChanged($event)" [period]="filterPeriod"></date-filter>
        </div>


        <div *ngIf="wereOrders()" class="total-order-list cleared-float">
            <ul class="cleared-float">
                <li *ngFor="#ord of TotalOrder" class="total-order-list-item cleared-float">
                    <span *ngIf="ord!=undefined" class="total-order-list-item-name">{{ord.Dish.Name}}</span>
                    <span *ngIf="ord!=undefined" class="total-order-list-item-count">{{ord.Count}}</span>
                    <p *ngIf="ord!=undefined">&nbsp;</p>
                </li>
            </ul>
            <h4 class="total-sum-label">
                Полная стоимость заказов: <span class="total-sum-value"> {{TotalSum.toFixed(2)}}</span>
            </h4>
            <h4 class="total-sum-label">
                В кассе: <span class="total-sum-value"> {{TotalCash.toFixed(2)}}</span>
            </h4>
        </div>

        <div *ngIf="!wereOrders()" class="filter-container">
            <h4 class="total-sum-label label-short">
                В кассе: <span class="total-sum-value"> {{TotalCash.toFixed(2)}}</span>
            </h4>
        </div>

        <div [ngStyle]="{'display': displayGrid}">
            <orders-grid class="all-orders-table">Здесь будет отображаться таблица заказов. Пожалуйста, подождите...</orders-grid>
        </div>
    </div>
</div>

<div *ngIf="mode=='report'">
    <orders-report (onClosed)="backToAdmin($event)">
        Детали отчета
    </orders-report>
</div>