﻿.item-block {
    align-content: center;
}

.button-column-container {
	height: 70px;
	width: 46%;
	margin: 0 2%;
	display: inline;
	float: left;
}

.button-column-container .tall-button{
	height: 62px;
}

.button-column-container .narrow-button{
    height: 30px;
    margin-bottom: 5px;
	display: inline;
	float: left;
	border-radius: 8px;
}


.orders-header {
    font-family: 'GothicRusMedium';
    width: 100%;
    text-align: center;
}

.cleared-float {
    clear: both;
}

.order-message {
    width: 51%;
    margin: 50px 2% 0 3% !important;
    float: right;
    color: #a34804;
    opacity: 0.7;
    text-align: center;
    font-size: 32px;
    clear: both;
}
.order-message > span {
    margin-left: 26px;
}

hr.splitter {
    height: 2px;
    background-color: #8c1500;
    opacity: 0.4;
}

.filter-container {
    display: inline;
    float: right;
    width: 51%;
    margin: 20px 0 10px 4%;
}

    .filter-container h4.info-message {
        display: block;
        text-align: center;
        font-family: 'Times New Roman';
        font-size: 22px;
    }

/* Provisioner */
.provisioner-data {
    display: block;
    margin: 45px 0;
}
    .provisioner-data > h3 {
        text-transform: uppercase;
        text-align: center;
    }

    .provisioner-data span {
        text-align: center;
    }

span.provisioner-data-item {
    width: 33%;
    float: left;
    text-align: left;
 
    font-size: 20px;
}

/* List */
.total-order-list {
    width: 35%;
    min-width: 200px;
    float: left;
   margin: 25px 4% 10px 0;
}
.total-order-list ul {
    padding-left: 0;
}

.total-order-list-item {
    list-style-type: none;

    font-size: 24px;
}

.total-order-list-item > span.total-order-list-item-name {
    float: left;
}
.total-order-list-item > span.total-order-list-item-count {
    float: right;
}

.total-sum-label {
    width: 100%;
    min-width: 100px;
    float: left;
    font-size: 28px !important;
    text-align: left;
    margin-top: 20px;
    display: inline;
}
.label-short {
    float: left;
    width: 90%;
    margin: 10px 5%;
}
.total-sum-value {
    font-size: 28px !important;
    float: right;
}
.action-button {
    width: 100%;
    margin:0;
    min-width: 220px;
    display: inline;
    float: left;
    font-size: 20px;
    border-radius: 15px;
    background: none !important;
    border: 2px solid #a34804;
    opacity: 0.7;
}

	.action-button:hover{
		opacity:1;
	}

    .action-button[disabled] {
        cursor: auto;
    }

/* table */
.all-orders-table {
    width: 51%;
    min-width: 800px;
    margin: 20px 0 10px 4%;
    float: right;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 50px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 50px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@media screen and (max-width: 445px) {
    #popUpConfirmWindow {
      width: 90%;
      left: 5%;
    }
    #popUpConfirmWindow div {
      font-weight: bold;
      font-size: 18px;
    }
    #popUpConfirmWindow button{
        display: block;
    }
    #conf-buttons-block {
        text-align: center;
    }
}