﻿th {
    font-size: 0.8em;
}

.TransactionId {
    width: 5%;
}

.AffectedUser,
.InitiatorUser {
    width: 15%;
}

.BalanceBefore,
.BalanceAfter {
    width: 7%;
}

.Operation {
    width: 20%;
}

.Comment {
    width: 17%;
}

.TransactionTime {
    width: 14%;
}