﻿<form id="FilterStringForm">
    <p>
        <input type="text" name="Name" size=25 placeholder="Строка поиска" [(ngModel)]="filterString" (keyup)="onChangeFilterString()" id="FilterStringInput">
    </p>
</form>
<form id="countOfItemsOnPageForm">
    <span>Количество записей на странице </span>
    <select #countOfItemsOnPage (change)="onChangeCountOfItemsOnPage(countOfItemsOnPage.value)" value={{initialCountOfItemsOnPage}}>
        <option *ngFor="let count of listCountOfItemsOnPage" value={{count}}>{{count}}</option>
    </select>
</form>
<table class="table">
    <thead>
        <tr>
            <th *ngFor="let column of columns" (click)="onColumnClick(column)" class="{{column.field}}">
                {{column.name}}
                <span *ngIf="getColumnState(column) == 1" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                <span *ngIf="getColumnState(column) == -1" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of currentPage()" (click)="onClickRowItem(row)">
            <td *ngFor="let column of columns" class="{{column.field}} table-cell-content">
                <div *ngIf="isArray(row[column.field])">
                    <p *ngFor="#par of trySplitArray(row[column.field])">{{par}}</p>
                </div>

                <span *ngIf="!isArray(row[column.field])">
                    {{row[column.field]}}
                </span>
            </td>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a (click)="onSetFirtPage()">
                Начало
            </a>
        </li>
        <li>
            <a aria-label="Previous" (click)="onDecrementPage()">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li *ngFor="let NumberOfPage of getNumberOfPageList()" class='{{numberOfPage == NumberOfPage ? "active" : "" }}'><a (click)="onPageChange(NumberOfPage)">{{NumberOfPage + 1}}</a></li>
        <li>
            <a aria-label="Next" (click)="onIncrementPage()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li>
            <a (click)="onSetLastPage()">
                Конец
            </a>
        </li>
    </ul>
</nav>

<div *ngIf="SelectedOrder!=undefined && IsSelected"
     class="modal fade show in danger" id="order-details">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" (click)="closeForm()">&times;</button>
                <cart [isAdminPanel]="true"
                      [order]="SelectedOrder.Order[0]"
                      [userName]="SelectedOrder.UserName"
                      [orderSum]="SelectedOrder.TotalSum[0]">
                    Здесь будут отображаться детали заказа. Пожалуйста, подождите
                </cart>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeForm();"> Закрыть</button>
            </div>
        </div>
    </div>
</div>
