﻿.wrapper{
    padding:10px;
}
.setting-block {
    margin:10px;
}
.setting-block input {
    display:inline-block;
}
input{
    width:40px;
    height:100%;
    background:none;
    border:none;
    padding-left:7px;
    border: 2px solid #a34804;
    margin:0 3px 0 3px;
}
input:focus{
    width:40px;
    height:100%;
    background-color:rgba(195, 157, 125, 0.22);
    border:none;
    padding-left:7px;
    border: 2px solid #a34804;
    margin:0 3px 0 3px;
}
button{
    display: inline-block;
    float: left;
    font-family: 'DINCondensedC';
    font-size:20px;
    height:35px;
    width:290px;
    border-radius:15px;
    background:none;
    border: 2px solid #a34804;
}
button:hover{
    display: inline-block;
    float: left;
    
    font-size:20px;
    height:35px;
    width:290px;
    border-radius:15px;
    background-color:rgba(195, 157, 125, 0.22);
    border: 2px solid #9d1300;
}