﻿<div class="wrapper">
    <div class="setting-block">
        <span>Время блокировки: </span>
         <input id="block-hours" [(ngModel)]="blockHours" oninput="var res = parseInt(this.value) | 0; res = (res < 0)? 0 : res; this.value = (res > 23)?  23 : res; "/>
        <span> ч </span>
        <input id="block-minutes"  [(ngModel)]="blockMinutes" oninput="var res = parseInt(this.value) | 0; res = (res < 0)? 0 : res; this.value = (res > 59)?  59 : res; "/>
        <span> мин </span>
    </div>
    <button class="common-button" (click)="saveSettings()">Сохранить</button>
</div>