﻿.info-container {
    display: table;
    margin-right: 0;
    height:90px;
    padding-top:2px;
    text-wrap:none;
    width: 100%;
}

#info-logo-ext {
    z-index: 5;
}

.fontUserName{
   font-family: 'Calibri';
}

.info-container div {
    
}

.info-container .info-logo {
   font-family: 'Exmouth';
   font-size: 67px;      
   cursor: pointer;
}

     .info-statistics-wrapper {
         max-width: 330px;
         font-family: "Times New Roman"
     }
     
    .info-statistics {
        width: 100%;
       /* font-family: 'GothicRusMedium', Tahoma;*/
        font-size: 28px;
        line-height: 8px;
        text-align: right;
        padding: 22px 16px;
        margin-top: 10px;
    }
    
    /* Account */
#info-account{
    text-wrap:none;
    float:right;
    vertical-align:central;
    padding-top: 14px;
}

    #info-account > * {
        float: right !important;
    }

#img-user {
    opacity: 0.9;
    cursor: pointer;
    text-align:center;
    font-family: 'Arial';
}
#img-user img{
   width: 100%;
   height: 64px;
}
    
#img-user:hover{
	opacity: 0.7;
}


#account-menu {
    max-height: 0;
    visibility: hidden;
    float: right;
    margin-right: 134px;
}

.border-container {
    display: block;
    text-align: left;
    right: 0;
    font-family: "Times New Roman","Trebuchet MS","Myriad Pro",Arial,sans-serif;
    outline: 2px solid #a34804;
    padding: 10px 0;
    width: 160px;
    opacity: 1;
    background:  url(/Content/background-image/old-paper-stains-repeatable-min.jpg) repeat-x center center;
    position: absolute;
    margin-right: 115px;

}
    .border-container h2 {
        font-size: 24px;
        text-align: center;
       
    }
    
.border-container button{
    font-size:20px;
    width: 90%;
    display: block;
    border-radius:15px;
    background:none;
    border: 2px solid #a34804;
    cursor: pointer;
    opacity: 0.65;
    margin: 5px 10px;
}

	#account-menu button:hover{
		opacity:1;
	}

.dropDownWrapper {
    text-align: right;
    position: relative;
}

.dropdown {
    visibility: hidden;
    position: absolute;
    display: inline;
    /* right: calc(7.6% - 2px); */
    top: 13px;
    right: -6px !important;
    z-index: 100;
    text-align: left;
}

.dropdown-content {
    background: url('/Content/background-image/old-paper-stains-repeatable-min.jpg') repeat-y;
    background-size: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    border-radius: 9px;
    border: 2px solid #b75427;
}

.dropdown-content a{
    cursor: pointer;
    font-size: 13px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #a34804;
}

.dropdown-content a:hover {
    background-color: rgba(154, 73, 12, 0.32);
}

.show {
    visibility: visible !important;
}

.loader {
    border: 5px solid #bd9969;
    border-top: 5px solid #ffffff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    position: absolute;
    right: 239.5px;
    top: 38px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#refreshButton {
    display: none;
}

.refreshButton{
    color: #a34804;
    cursor: pointer;
    position: absolute;
    top: 4.2%;
    right: 15.3%;
    background: none;
    border: none;
}

.refreshButton:focus{
    outline: none;
}

.refreshButton:hover{
    opacity: 0.8;
}

.rotate
{
    animation: spin 1s linear infinite;
}
#info-logo-ext {
    visibility: visible;
}
#info-logo-min {
    display: none;
    margin-left: -6%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 980px) {
    /*.dropdown {
        right: calc(3.3% - 2px);
    }*/
}
#infopanel-menu-header {
    display: none;
}
#balance-under-user {
     display: none;
}
#info-logo-img {
    display: none;
}
@media screen and (max-width: 645px) {
    .info-container {
        margin-bottom: -15px;
    }
    #info-logo-ext {
        display: none;
    }
    #info-logo-min {
        display: none;
    }
    #info-account {
        display: inline;
        float: right;
        position: absolute;
        right: 5%;
        top: 0px;
    }
    .info-statistics-wrapper{
        display: none;
    }
    #name-under-user {
        display: none;
    }
    #balance-under-user {
        display:block;
    }
    #infopanel-menu-header {
        display: block;
        width: 100%;
    }
    .main-font {
        margin-top: 34px !important;
        margin-bottom: 33px !important;
        font-size: 38px !important;
    }
    #info-logo-img {
        display: block;
        position: absolute;
        left: 5%;
        top: 20px;
        height: 65px;
        width: 61px;
        
    }
}

@media screen and (max-width: 540px) {
    .info-container .info-logo {
        cursor: pointer;
        opacity: 0.98;
        float: left;
    }
}
@media screen and (max-width: 385px) {
    .info-statistics {
        font-size: 24px;
        padding-top: 14px;
        padding: 22px 4px;
    }

    #img-user img {
        height: 50px;
        width: 50px;
        text-align: center;
    }
    #info-logo-img {
        left: 5%;
        top: 20px;
        height: 50px;
        width: 43px;
        
    }
      
    .main-font {
        font-size: 26px !important;
    }

    /*.dropdown{
         top: 72px;
         right: calc(7.6% - 2px);
    }*/
    .dropdown-content {
        min-width: 170px;
    }
    .dropdown-content a {
        font-size: 12px;
        color: black;
        padding: 8px 12px;
    }
}


