﻿<div class="info-container">
    <span id="info-logo-ext" class="info-logo unselectable" (click)='redirectTo("/Home/Index")'>Akvelon Lunch</span>
    <span id="info-logo-min" class="info-logo unselectable" (click)='redirectTo("/Home/Index")'>A</span>
    <img id="info-logo-img" src="/Content/header-images/app_icon.png" (click)='redirectTo("/Home/Index")' alt="info-logo" />
    <center id="infopanel-menu-header"><h1 class="main-font">Меню</h1></center>
    <div id="info-account">
        <div id="img-user">
            <img src="/Content/header-images/user.png" (click)="dropDownMenu();" alt="user"/>
            <div id="name-under-user"class="fontUserName">{{userName}}</div>
            <div id="balance-under-user" class="fontUserName">{{balance}} P</div>
        </div>
        
        <div class="info-statistics-wrapper">
            <div *ngIf="balanceError" class="loader"></div>
            <button [disabled]="refreshDisable" *ngIf="!balanceError" (click)="refreshBalanceButton()" class="glyphicon glyphicon-refresh refreshButton" id="refreshButton"></button>
            <p *ngIf="!balanceError" class="info-statistics">{{balance}} P</p>
        </div>
</div>
</div>

<div class="dropDownWrapper">
    <div id="user-dropdown" class="dropdown" clickOutside (clickOutside)="hideDropDownMenu()" [idString]="'img-user'">
        <div id="myDropdown" class="dropdown-content">
            <a (click)='redirectTo("/Home/Index")' class="unselectable"><b>На главную</b></a>
            <a *ngIf="isAdmin" (click)='redirectTo("/Admin/Index")' class="unselectable"><b>Панель администратора</b></a>
            <a (click)='showOrderHistoryPopUp()' style="display: none;" class="unselectable"><b>История заказов</b></a>
            <a class="unselectable" (click)="showUserSettings()" id="userSettings"><b>Настройки</b></a>
            <a class="unselectable" (click)="showHelpPopUp()"><b>Помощь</b></a>
            <a (click)='logout()' class="unselectable"><b>Выход</b></a>
        </div>
    </div>
</div>
