﻿

/* confirm window pop-up */
.confirm-modal {
    top: 0;
    left: 0;
    z-index: 4;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
}

.popUp {
    padding-top: 26px;
    padding-bottom: 26px;
    text-align: center;
    width: 400px;
    height: auto;
    position: fixed;
    top: 32%;
    z-index: 5;
    border-radius: 9px;
    border: 2px solid #b75427;
    background: url('/Content/background-image/old-paper-stains-repeatable-min.jpg') center center;
    background-size: 118%;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

#confirmWindow .popUp:first-child{
    color: #333;
    font-weight: bold;
    margin: auto;
    display: block;
    font-size: 18px;
}

#confirmWindow .popUp button{
    font-size: 20px;
    height: 35px;
    width: 72%;
    border-radius: 15px;
    background: none;
    border: 2px solid #a34804;
    position: relative;
    margin-top: 10px;
    max-width: 100px;
}

.popUp hr {
    color: #9d1300;
    height: 2px;
}

.popUp button:hover{
    background-color:rgba(195, 157, 125, 0.22);
    border: 2px solid #9d1300;
}

.popUp button:active{
    margin-top:1px;
}
.popUp button:focus {
    outline: none;
}
