﻿<div class="wrapper">
    <a class="close-button" (click)="closeSettings()">&times;</a>
    <div class="text">
        <p>
            Сервис работает до <b>{{blockHours}}:{{blockMinutesString}}</b>
        </p>
        <p>Вы можете пополнить свой баланс через <b>Яну Волошину</b> (скайп <b>yana.voloshina4</b>, почта <a href="mailto:yana.voloshina@akvelon.com"><b>yana.voloshina@akvelon.com</b></a>)</p>
        <p>Большая просьба сообщать о пожеланиях или об ошибках в работе приложения на почту <a href="mailto:sergey.akhalkov@akvelon.com"><b>sergey.akhalkov@akvelon.com</b></a></p>
        <p>
            Помимо веб-сайта, также доступна мобильная версия приложения под
            <b><a href="https://dl.dropboxusercontent.com/u/47795279/Akvelon%20Lunch.apk">Android</a></b>
            и
            <b><a href="https://dl.dropboxusercontent.com/u/47795279/Akvelon%20Lunch.ipa">iOS</a></b>.
            Приложение для iOS распространяется под девелоперским корпоративным аккаунтом, поэтому желающим установить приложение на
            iPhone-устройства необходимо отправить
            <b><a href="http://whatsmyudid.com/">свои UDID`ы</a></b>
            на почту <a href="mailto:sergey.akhalkov@akvelon.com"><b>sergey.akhalkov@akvelon.com</b></a> и получить ссылку для скачивания и установки.
        </p>
    </div>
    <div class="button-block">
        <a class="miniBut" href="https://dl.dropboxusercontent.com/u/47795279/Akvelon%20Lunch.ipa">
            <img class="appButtonPng" src="/ScriptsApp/components/mainScreen/help/AppButtonPng/appStorePart1.png"/>
        </a>
        <a class="miniBut" href="https://dl.dropboxusercontent.com/u/47795279/Akvelon%20Lunch.apk">
            <img class="appButtonPng" src="/ScriptsApp/components/mainScreen/help/AppButtonPng/googlePlayPart2.png"/>
        </a>
        <a class="bigBut" href="https://dl.dropboxusercontent.com/u/47795279/Akvelon%20Lunch.ipa">
            <img class="appButtonPng" src="/ScriptsApp/components/mainScreen/help/AppButtonPng/appStore.png"/>
        </a>
        <a class="bigBut" href="https://dl.dropboxusercontent.com/u/47795279/Akvelon%20Lunch.apk">
            <img class="appButtonPng" src="/ScriptsApp/components/mainScreen/help/AppButtonPng/googlePlay.png"/>
        </a>
    </div>
</div>
