﻿.wrapper { 
    background: url('/Content/background-image/old-paper-stains-repeatable-min.jpg') repeat-y;
    background-size: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    border-radius: 9px;
    border: 2px solid #b75427;
    height: 573px;
    width: 100%;
}

.text {
    margin: 0 40px 0 40px;
}

p {
    font-size: 18px;
    font-family: 'Georgie';
    position: relative;
    top: 55px;
}

p a {
    color: #b75427;
}

.appButtonPng {
    height: 65px;
    opacity: 1;
}

.appButtonPng:hover {
    opacity: 0.7;
}

.button-block {
    position: absolute;
    bottom: 24px;
    width: 100%;
}

.bigBut {
    display: inline-block;
}

.miniBut {
    display: none;
}

.close-button {
    cursor: pointer;
    position: relative;
    font-size: 23px;
    float: right;
    right: 10px;
    top: -2px;
    color: black;
    text-decoration: none;
    opacity: 1;
}

.close-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 920px) {
    .bigBut {
        display: none;
    }

    .miniBut {
        display: inline-block;
    }
}