﻿body {
    position: relative;
    padding: 0;
    top: 0;
    height: 100%;
}
html {
    height: 100%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
main-screen {
    height: auto;
    position: relative;
    display: block;
    min-height: 100%;
}
lunch-app {
    height: 100%;
    position: relative;
    display: block;
} 
lunch-app > div{
    height: 100%;
    position: relative;
    display: block;
}    