<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent">

    <include
      android:id="@+id/toolbar"
      layout="@layout/AdminToolbar" />
 
    <android.support.v4.widget.DrawerLayout
     android:id="@+id/drawer_layout"
     android:layout_width="match_parent"
     android:layout_height="match_parent">
        <LinearLayout
                      android:orientation="vertical"
                      android:layout_width="match_parent"
                      android:layout_height="match_parent">
            <TextView android:id="@+id/AdminCloseMenuLabel"
                      android:text="@string/AdminCloseMenuLabel"
                      android:layout_width="match_parent"
                      android:layout_height="wrap_content"
                      android:gravity="center_horizontal"
                      android:layout_marginTop="10dp"
                      android:layout_marginBottom="10dp"
                      android:textStyle="bold"
                      android:textSize="14dip" />

            <TimePicker android:layout_marginLeft="7dp"
                        android:id="@+id/AdminCloseMenuTimePicker"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_below="@+id/AdminCloseMenuLabel" />
            <Button android:paddingLeft="20dp"
                    android:paddingRight="20dp"
                    android:text="@string/AdminCloseMenuSaveButton"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/AdminCloseMenuSaveButton"
                    android:theme="@style/AppTheme.Button"
                    android:textSize="12dip"
                    android:layout_gravity="center_horizontal"
                    android:background="@color/greenColor"
                    android:layout_marginRight="20dp"
                    android:layout_marginTop="10dp"
                    android:layout_marginBottom="10dp"
                    android:layout_marginLeft="20dp"
                    android:textColor="#ffffff" />
        </LinearLayout>
       

   <ListView
     android:id="@+id/left_drawer"
     android:layout_width="240dp"
     android:layout_height="match_parent"
     android:layout_gravity="start"
     android:choiceMode="singleChoice"
     android:divider="@color/dividerColor"
     android:dividerHeight="1dp"
     android:background="@color/whiteColor"/>

  </android.support.v4.widget.DrawerLayout>
</LinearLayout>
