<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <include
        android:id="@+id/Toolbar"
        layout="@layout/Toolbar" />
    <FrameLayout
       android:id="@+id/MenuFrameLayout"
       android:layout_width="match_parent"
       android:layout_height="wrap_content"
       android:foregroundGravity="center"
       android:layout_weight="1">
      <ListView
          android:layout_width="match_parent"
          android:layout_height="match_parent"
          android:id="@+id/ListMenuView"
          android:drawSelectorOnTop="false" />
      <TextView
          android:id="@+id/MenuMessage"
          android:text="@string/MenuNotCreated"
          android:layout_height="wrap_content"
          android:layout_width="match_parent"
          android:textSize="16dip"
          android:gravity="center_horizontal"
          android:textColor="#000000"/>
      <View android:layout_width="match_parent"
         android:layout_height="5dp"
         android:background="@drawable/toolbarShadow"/>
      <ProgressBar
            android:layout_gravity="center_horizontal|center_vertical"
            android:layout_height="wrap_content"
            android:layout_width="wrap_content"
            android:id="@+id/MenuActivityIndicator"
            android:indeterminateOnly="true"
            android:keepScreenOn="true"
            android:progressTint="@color/mainColor" />
    </FrameLayout>
    <Button
        android:paddingLeft="20dp"
        android:paddingRight="20dp"
        android:text="@string/OrderEnterButton"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/OrderEnterButton"
        android:theme="@style/AppTheme.Button"
        android:textSize="12dip"
        android:layout_gravity="center_horizontal"
        android:background="@color/greenColor"
        android:layout_marginRight="20dp"
        android:layout_marginTop="10dp"
        android:layout_marginBottom="10dp"
        android:layout_marginLeft="20dp"
         android:textColor="#ffffff"/>

   
 
  
   
</LinearLayout>