﻿thead {
    font-size: 19px;
    font-weight: bold;  
}

table {
    border: 1px solid #8c1500;
    table-layout: fixed;
}
/* TODO change background with hover on string*/
tr:hover {
     background-color:rgba(195, 157, 125, 0.22);
     cursor: pointer;
}

table *:not(span){
    border: 1px solid #8c1500;
}

div.scroll-table {
  width: 100%;
  overflow: auto;
}

tbody, #countOfItemsOnPageForm {
    color: #5a5857;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    max-width: 76%;
}

tbody tr:hover {
    color: #8c1500;
}

#countOfItemsOnPageForm {
    padding: 5px;
}

#countOfItemsOnPageForm select {
    border: 0.3px solid #8c1500;
    opacity: 0.7;
    color: #9a4900;
}
#countOfItemsOnPageForm select:hover,#countOfItemsOnPageForm select:focus{
    opacity: 1;
}


.Name{
    width: 25%;
}

.Description{
    width: 20%;
}

.Cost{
    width: 15%;
}

.DishType{
    width: 20%;
}

.SupplierName{
    width: 15%;
}

#FilterStringInput {
    font-size: 15px;
    color: black;
    border: 0.3px solid #8c1500;
    font-weight: bold;
    opacity: 0.7;
}

#FilterStringForm {
    padding-top: 10px;
}

#FilterStringInput:hover,#FilterStringInput:focus{
    opacity: 1;
    color: #9a4900;
}

nav a{
    opacity: 0.7;
    color: #8c1500;
    border: 0.3px solid #8c1500;
}
li.active a{
    opacity: 1;
    background-color: #ca945c;
}

nav {
    font-weight: bold;
    font-size: 15px;
}
td {
    word-wrap: break-word;
}
.pagination {
    cursor:pointer;
}
